<div class="container mt-4">
    <div class="row">
      <div class="col-sm-4">
          <h1>Your Profile</h1>
      </div>
      <div class="col-sm-8">
        <div *ngIf="editForm.dirty" class="alert alert-info">
          <strong>Information:</strong> You have made changes.  Any unsaved changes will be lost!
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8">
              <form #editForm="ngForm" id="editForm" (ngSubmit)="updateUser()">
                  <h4>Name</h4>
                  <input type="text" class="form-control" name="userName" rows="6" 
                    [(ngModel)]="user.username">
                  <h4>Photo Url</h4>
                  <input type="text" class="form-control" name="image" rows="6" 
                    [(ngModel)]="user.image">
                  <h4>Email</h4>
                  <input type="text" class="form-control" name="email" rows="6" 
                    [(ngModel)]="user.email">
                    <h4>Bio</h4>
                    <textarea class="form-control" name="bio" rows="6" 
                      [(ngModel)]="user.bio"></textarea>
              </form>
              <div class="card-footer">
                <button [disabled]="!editForm.dirty" form="editForm" class="btn btn-success btn-block">Save Changes</button>
                <button class="btn btn-danger btn-block" (click)="deleteUser()">Delete Profile</button>
            </div>
      </div>
    </div>
  </div>
